<style>
    table{
        border-collapse:collapse
    }
    .recent-grid{
        margin-top:3.5rem;
        display:grid;
        grid-gap:2rem;
        grid-template-columns:70% auto;
    }
    .card{
        background:#fff;
        border-radius:5px
    }
    .cards-header{
        padding:1rem;
    }
    .cards-header{
        display:flex;
        justify-content:space-between;
        border-bottom:1px solid #f0f0f0;
        align-items:center;
    }
    .cards-header button{
        background:blue;
        color:#fff;
        font-size:2rem;
        padding:.5rem 1rem;
        border:1px solid blue;
        border-radius:5px;
    }
    thead tr {
        border-top: 1px solid #f0f0f0;
        border-bottom: 2px solid #f0f0f0;
       
    }
    thead td{
        font-weight:700;
    }
    td{
        padding:.5rem 1rem;
        font-size:2rem;
        color:#222;
       
    }
    tr td:last-child{
        display:flex;
        align-items:center;
    }
    td .status{
        display:inline-block;
        height:20px;
        width:20px;
        border-radius:50%;
        margin-right:2rem;
    }
    .status{
        color:orange;
    }
    .table-responsive{
        width:100%;
        overflow-x:auto;
    }

</style>
<main>
    <div class="cards">
        <div class="card-single">
            <div>
                <h1>
                    54
                </h1>
                <span>message</span>
            </div>
            <span class="las la-facebook-messenger"></span>
        </div>


        <div class="card-single">
            <div>
                <h1>
                    79
                </h1>
                <span>User</span>
            </div>
            <span class="las la-user"></span>

        </div>

        <div class="card-single">
            <div>
                <h1>
                    54
                </h1>
                <span>message</span>
            </div>
            <span class="las la-facebook-messenger"></span>

        </div>

        <div class="card-single">
            <div>
                <h1>
                    54
                </h1>
                <span>message</span>
            </div>
            <span class="las la-facebook-messenger"></span>
        </div>
    </div>
    <div class="recent-grid">
        <div class="projects">
            <div class="card">
                <div class="cards-header">
                    <h2>Recent</h2>
                    <button>
                        See all<span class="las la-arrow-right">
                        </span>
                    </button>
                </div>

                <div class="card-body">
                    <div class="table-responsive">
                        <table width="100%">
                            <thead>
                                <tr>
                                    <td>
                                        Project
                                    </td>
                                    <td>
                                        departemet
                                    </td>
                                    <td> Status</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>IoT</td>
                                    <td>Master</td>
                                    <td>
                                        <span class="status">
                                            pending
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>




        </div>
         
        <div class="customers">
            <div class="card">
                <div class="cards-header">
                    <h3>Recent</h3>
                    <button>See All <span class="las la-arrow-right"></span></button>
                </div>
                <div class="card-body">

                </div>
            </div>
        </div>
    </div>
</main>