<style>
    #svg {
        width: 80vmin;
        height: 80vmin;
        display: block;
    }

    button {
        font-size: 1em;
        font-weight: bold;
        padding: .5em 1em;
        margin: 1em;
        background: #0CC2DF;
        color: #fff;
        border: none;
        border-radius: 2em;
        text-transform: uppercase;
        text-align: center;
        box-shadow: 0 0 9px 0 rgba(0,0,0,.5);
    }




</style>




<main>
    <button onclick="fill()">Fill</button>
    <button onclick="sip()">Sip</button>
</main>
<svg id="svg"></svg>
